[run]
source = hexamind

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
    except ImportError:
    
omit =
    hexamind/model/model/__init__.py
    hexamind/config/*
    hexamind/main.py
    */__init__.py
    tests/*
    setup.py