.DS_Store
__pycache__/
initializer.cpython-39.pyc
tester.ipynb
max_testing_files
~$mpleDOCFile_500kb.doc
cropped_image.pdf
PDF_image.png
~$mple_doc.docx
database_test
initializer.cpython-39.pyc
styles.txt
data/test_data/~$SampleData.xlsx
demo.ipynb
database_test/chroma.sqlite3

.vscode
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/hexs_rag.iml
.vscode/
